h1{
	font-size: 40px;
}
p{
	text-align: justify;
}
.img_1{
  	position: relative;
  	margin-left: 1050px
}



.table table{
	margin-top: 30px;
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}
b{
	color: red;
}
.table th,td{
    padding: 20px;
    border: 2px solid black;
}
.table thead{
    background-color: black;
    color: white;
}