.header {
	margin-left: 20px;
	width: 1300px;
	height: 200px;
}
.header .header_img {
	float: left;
	margin-top: 20px;
	margin-right: 20px;
}
.section{
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	width: 770px;
	height: 500px;
	float: left;
}
.aside{
	margin-top: 20px;
	margin: 10px;
	float: right;
	width: 500px;
	height: 500px;
}
.aside .aside_img{
	margin-top: 30px;

}
.aside .linea{
	margin-right: 50px;
  	float: left;
	border-left: 1px solid gray;
  	height: 500px;
}