*{
	margin: 0px;
	padding:  0px;
}
#menu{
	margin: auto;
	margin-top: 50px;
	width: 960px;
	background-color: #a7abb2;
}
#menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu ul li{
	display: inline-block;
}
#menu ul li a{
	color: white;
	display: block;
	padding: 15px 54px;
	text-decoration: none;
}
#menu ul li a:hover{
	background-color: #ccddf9;
}
#general{
	margin: auto;
	margin-top: 50px;
	display: block;
	width: 960px;
	height: 800px;
	background-color: #e5e5e5;
}
#new1{
	margin: 20px;
	float: right;
	width: 440px;
	height: 500px;
}

#new2{
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	width: 440px;
	height: 500px;
}
#new2 img{
	margin: 20px;
	width: 420px;
	height: 200px;
}
#new3{
	margin-top: 20px;
	width: 960px;
	height: 190px;
}
h1{
	text-align: center;
}

#slider{
	width: 960px;
	height: 400px;
	margin: auto;
	overflow: hidden;
	
}
#slider ul{
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 20s infinite alternate linear;
}
#slider li{
	width: 100%;
	list-style: none;
}
#slider img{
	width: 100%;
}

@keyframes cambio{
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	25% {margin-left: -100%}
	45% {margin-left: -100%}
	50% {margin-left: -200%}
	70% {margin-left: -200%}
	75% {margin-left: -300%}
	100% {margin-left: -300%}
}